* {
    margin: 0;
    padding: 0;    
    font-family: 'Nunito Sans', sans-serif;
}
body{
     background-color:  #548d7d;
}

.navs {
    height: 80px;
    background-color: #a7b8b2;
}

h2{
    text-align: center;
    font-size: 30px;
    margin: 40px;
}

.title{
    text-align: center;
    font-size: 30px;
}



/*------------------------------------------------Encabezado--------------------------------------------*/
.formulario input{
    display: block;
    margin:  20px auto;
    width: 400px;
    height: 30px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0.3em 0.3em 1em rgba(0,0,0,0.3);;
    border: 0px;
}

.agregarControlForm{
    display: block;
    margin: 10px auto;
    height: 20px;
    width: 250px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0.3em 0.3em 1em rgba(0,0,0,0.3);;

}

/* listado de tareas*/
.tareaContenedor {
  margin: 30px;
  text-align: center;
   
}

.tareaContenedor span{
    padding: 40px;
    font-size: 18px;
    
}

.simbolo{
    cursor: pointer;
}

.simboloActualizar{
    cursor: pointer;
}






 /*----------Media quiery -------------------*/
 @media (max-width: 600px) {
    .formulario input{
        width: 300px;
    }

    
    
    
    
    .tareaContenedor {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
      }
      
      .tareaContenedor span{
          padding: 8px;
          font-size: 18px;      
      }
      
    
 }



